html {
  width: 100%;
  min-height: 100vh;
  height: auto;
  overflow: auto;
}

body {
    margin: 0;
    background-color: lightblue;
    text-align: center;
    font-family: monospace;
    width: 100%;
    min-height: 100vh;
    height:auto;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  height:auto;
  margin: 0;
  margin-left: 0;
}

.options {
  margin: 10px;
  position: relative;
  left: 50%;
  width: 25%;
}

/* sticky doesnt work for some ungodly reason */
.side {
  /* position: -webkit-sticky; /*Safari*/
  position: fixed;
  top: 50;
  left: 50;
  float: left;
  max-width: 7%;
  margin-left: 15%;
}

/* CSS for button https://getcssscan.com/css-buttons-examples*/
.sideBtn {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  margin-bottom: 10px;
}

.sideBtn:hover,
.sideBtn:focus-visible{
  --_p: 0px;
}

.sideBtn:active {
  background: var(--color);
  color: #fff;
}

.footer {
  position: absolute;
  margin-bottom: 0;
  background-color: #000;
  color: #fff;
  width: 100%;
}

.menu{
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
}

.menutbl {
  margin: auto;
}

.banner-container {
  max-width: 30%;
  position: relative;
  margin: auto;
  margin-top: 50px;
}

.mealTimes {
  font-size: 24px;
}
